.task-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.task-list li {
    width: 500px;
    padding: 1rem;
    background-color: rgba(40, 77, 117, 0.281);
    border-radius: 9px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Icon button styling */
button {
    background: none;
    border: none;
    cursor: pointer;
}

button svg {
    color: #dc3545;
}

/* Hover effect */
button:hover svg {
    color: #b02a37;
}

/* Responsive Design */
@media (max-width: 768px) {
    .task-list li {
        width: 400px;
        align-items: flex-start;
    }
    input {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .task-list li {
        width: 200px;
        align-items: flex-start;
    }
}
