*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Input and Buttons */
input,
select,
button {
    padding: 12px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Task Priorities */
.high {
    color: red;
}
.medium {
    color: orange;
}
.low {
    color: green;
}
